<div class="container-fluid" id="initialize">
	<div class="row-fluid">
		<div class="span6 offset3">
	  		<!-- form start -->
			<div class="row-fluid" style="margin-bottom:10px;">
				<div class="white-box">
					<%=render "app_form"%>
				</div>
			</div>
			<!-- form End -->	
		</div>
  	</div>
</div>