<div class="col-md-3 hidden-phone"></div>
<div class="col-md-6" style="background-color:#fff;">
	<div class="span6 offset3">
		<!-- form start -->
		<div class="row-fluid" style="margin-bottom:10px;">
			<div class="white-box">
				<%=render "app_form"%>
			</div>
		</div>
		<!-- form End -->	
	</div>
</div>