<div class="container">
	<div class="row">
		<div class="col-md-4 hidden-phone"></div>
		<div class="col-md-4" style="text-align:center;background-color:#fff;">
			<h3>회원정보 변경</h3>

			<%= render partial: 'form', locals: { user: @user } %>

			<%= link_to 'Show', @user %>
		</div>
	</div>
</div>
