<div class="container">
	<div class="row">
		<div class="col-md-4 hidden-phone"></div>
		<div class="col-md-4">
		<p>
		  <b>ID:</b>
		  <%= @user.login_id %>
		</p>

		<p>
		  <b>Name:</b>
		  <%= @user.name %>
		</p>

		<%= link_to 'Edit', edit_user_path(@user) %>
</div>
	</div>
</div>