<div class="container">
  <div class="row">
    <div class="col-md-4 hidden-phone"></div>
    <div class="col-md-4" style="text-align:center;background-color:#fff;">
      <h3>User Information</h3>
      <p>ID: <%= @user.login_id %></p>
      <p>Name: <%= @user.name %></p>

      <%= link_to 'Change Password', edit_user_path(@user) %>
    </div>
  </div>
</div>
