<div class="col-md-3 hidden-phone"></div>
<div class="col-md-6" style="background-color:#fff;">
  <h3>링크 수정하기</h3>

  <%= render partial: "form", locals: {link: @link} %>

  <%= link_to "Back", admin_links_path %>
</div>