<div id="div-form">
  <%= form_for(fw, :url => "api/new", :html => { :multipart => true, :class => "form-horizontal", :role => "form" }) do |f| %>
  <%# React Component will be mounted %>
  <% end %>
</div>