<div id="lab_page" class="wrapper">
  <!-- Info start  -->
  <%=render "info" %>
  <!-- Info end -->
  <div class="col-md-9">
    <div class="panel panel-info" id="firewoods">
      <div id="div-form" class="panel-heading">
      <!-- form start -->
        <%=render "form" %>
      <!-- form End -->
      </div>
      <!-- Timeline start -->
      <%=render "timeline" %>
      <!-- Timeline End -->
      <div class="panel-footer" id="div-loading" style="display:none;">로딩중입니다.</div>
    </div>
  </div>
  <div class="col-md-3 visible-md visible-lg">
    <div class="panel panel-info" id="users">
      <div class="panel-heading" id="users-header"></div>
      <ul class="list-group" id="users-body"></ul>
    </div>
    <div id="div-widget">
      <!-- twitter widget start -->
      <% if @app.show_widget == 1 %>
      <%=render "widget" %>
      <!-- twitter widget end -->
      <% end %>
    </div>
  </div>
</div>
<div id="recent_alert_src" style="position: absolute; width:1px; height: 1px;"></div>

<script type="text/template" id="fw-template">
<div class="row firewood mt-to" data-id="{{= id }}" prev_mt="{{= prev_mt }}" {{= (is_dm != 0 ? 'is_dm ' : ' ') }}img-link="{{= img_link }}">
  <div class="col-md-10 fw-cnt">
    <div class="fw-main">
      <a class="fw-username mt-clk" href="#">{{= name }}</a> : <span class="fw-contents">
      {{ contents = contents.replace(/\s(#[^\s]+)/g, " <a href='#' class='fw-tag'>$1</a>")
                            .autoLink({ target: "_blank", rel: "nofollow"}) }}
      {{ contents = (is_dm != 0
        ? contents.replace(/^!([^\s]\S+)/g, "<span class='mt-target'>!$1</span>")
        : contents.replace(/(^|\s)(@[^@!\s]+)/g, "$1<span class='mt-target'>$2</span>")) }}
      {{= contents.replace(new RegExp('(@|!)(' + $.cookie('user_name') + ')'), "$1<strong>$2</strong>") }}
      </span>
      {{= Number($.cookie('user_id')) == user_id ? '<a href="#" class="delete">[x]</a>' : '' }}
    </div>
    <div class="fw-sub" style="display:none"></div>
  </div>
  <div class="col-md-2 time"><small>{{= created_at }}</small></div>
</div>
</script>

<script type="text/template" id="mt-template">
<li class="list-group-item div-mention">
<div class="mt-trace">
  <small>
    <a class="" href="#">{{= name }}</a> : <span class="fw-contents">
      {{= contents }}
    <a href="#" class="delete"></a>
  </small>
  <small class="pull-right">{{= created_at }}</small>
</div>
</li>
</script>

<script type="text/template" id="user-template">
  <a class="mt-clk" href="#">{{= name }}</a>
</script>

<script type="text/template" id="img-template">
<div class="img-content">
  <img class="img-{{= ($(window).width() > $(window).height() ? 'standard' : 'mobile') }}" src="{{= imgLink }}"></img>
  <p><small>
    <a href="{{= imgLink }}" class="link_url" target="_blank">크게 보기</a>
  </small></p>
</div>
</script>