<div id="me_page" class="wrapper">
  <!-- Info start  -->
  <%=render "info" %>
  <!-- Info end -->
  <div class="col-md-9">
    <div class="panel panel-info">
      <div id="div-form" class="panel-heading">
      <!-- form start -->
        <%=render "form" %>
      <!-- form End -->
      </div>
      <!-- Timeline start -->
      <%=render "timeline" %>
      <!-- Timeline End -->
      <div class="panel-footer" id="div-loading" style="display:none;">로딩중입니다.</div>
    </div>
  </div>
  <div class="col-md-3 visible-md visible-lg">
    <div class="panel panel-info" id="current_users">
    </div>
    <div id="div-widget">
      <!-- twitter widget start -->
      <%=render "widget" %>
      <!-- twitter widget end -->
    </div>
  </div>
</div>

<div id="recent_alert_src" style="position: absolute; width:1px; height: 1px;"></div>