<div id="now_page" class="wrapper">
  <!-- Info start  -->
  <%= render partial: "info", locals: { infos: infos } %>
  <!-- Info end -->
  <div class="col-md-9 cut-side-padding">
    <div id="firewoods">
      <!-- form start -->
      <%= render partial: "form", locals: { fw: new_fw } %>
      <!-- form End -->
      <div id="firewoods-react"></div>
    </div>
  </div>
  <div class="col-md-3 visible-md visible-lg">
    <div id="users-wrapper"></div>
    <div id="div-widget">
      <!-- twitter widget start -->
      <% if @app.show_widget == 1 %>
      <%= render partial: "widget", locals: { app: app } %>
      <!-- twitter widget end -->
      <% end %>
    </div>
  </div>
</div>
