<div class="container-fluid">
	<div class="row-fluid">
		<div class="span4 hidden-phone"></div>
		<div class="span4 white-box" style="text-align:center;">
			<h3>링크 수정하기</h3>

			<%= render 'form' %>

<%= link_to 'Back', links_path %>
		</div>
	</div>
</div>