# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 355f936846da34942026232e8b4a69909318ba1f46cefe38cfe982d62dc8d68eaf5a45c28b646ad420282eecbe83d60f49361e884aac1562dd698823da2ab228
  redis_host: localhost
  redis_port: 6379

test:
  secret_key_base: d56db0bffb3d0529fca9b6e589e50e1c29a883d93e3c7de972eabf7e932bc5fcc4b4c8369f2d630224606f91e44b533591f51daa469cd49b662439c9315b855c
  redis_host: localhost
  redis_port: 6379

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["BW_SECRET_KEY_BASE"] %>
  redis_host: <%= ENV["BW_REDIS_HOST"] %>
  redis_port: <%= ENV["BW_REDIS_PORT"] %>
