// Place all the styles related to the view controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  -webkit-appearance: none;
  background-color: rgb(247, 247, 249);
  padding-top: 50px;
}

a {
  color: #000000;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

ul.navbar-right {
  margin-right: 0;
}

.row {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

#div-form {
  background-color: #d9edf7;
  padding-bottom: 1px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;

  .form-group {
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 0;

    .col-sm-12 {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.cut-side-padding {
  margin-top: 0; 
  padding-left: 0;
  padding-right: 0; 
}

#contents {
  height: initial;
  min-height: 34px;
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: pre-wrap;       /* css-3 */
  word-wrap: break-word; 
}

.bw-text-empty #contents {
  color: #aaa;
}

#notice_stack_new {
  color: rgb(10,10,10);
  line-height: 2;
}

#timeline_stack {
  background-color: rgb(66, 139, 202);
  text-align: center;

  .reconnect {
    text-decoration: underline;

    &:hover {
      color: #000000;
    }
  }
}

.tagged {
  background-color: #e5f8ff;
}

.wrapper > .col-md-3 {
  margin-top: 10px;
}

.firewood {
  padding-left: 0;
  padding-right: 0;
  word-wrap: break-word;

  .is_dm {
    color: #888;
  }
}

.time {
  text-align: right;
}

.has-image, .delete, .link_url, .fw-tag {
  color: #3a87ad;
}

.last_top {
  border-top-width: 3px;
}

#timeline {
  .list-group-item {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    .col-md-10,
    .col-md-2 {
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  .div-firewood {
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;

    .img-content .img-standard {
      max-height: 390px;
      max-width: 640px;
    }

    .img-content .img-mobile {
      max-width: 100%;
    }

    .img-content p {
      text-align: center;
    }

    .div-mention {
      background-color: transparent;
      border-bottom: 0;
      border-top: 0;
      padding-bottom: 0;
      padding-left: 10px;
      padding-right: 0;
      padding-top: 0;
    }
  }
}

.div-username {
  padding-bottom: 1px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1px;
}

.text-warning {
  color: #c7254e;
}

.top-fixed {
  background-color: rgb(217, 237, 247);
  border-bottom: 1px solid #ccc;
  margin-top: -70px;
  padding-bottom: 10px;
  padding-top: 80px;
  top: 0;
  width: 100%;

  h4 {
    margin-top: 0;
  }
}

.alert {
  display: none;
  min-width: 100px;
  padding: 3px;
  position: fixed;
  z-index: 99;
}

#mobileNavmenu {
  background-color: #222;
  border-left: 0;
  width: 200px;

  .navmenu-brand {
    margin-bottom: 1px;
  }

  li {
    a {
      color: #ddd;
    }

    a:hover {
      color: #fff;
    }
  }

  li.active > a {
    background-color: #777;
  }

  #users-mobile {
    background-color: #eee;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-top: 10px;
  }

  dl {
    margin-bottom: 5px;
    margin-top: 5px;

    dd {
      margin-bottom: 5px;
      margin-left: 10px;

      a {
        color: #111;
      }

      a:hover {
        color: #333;
      }
    }
  }
}

#mobile-userlist-div {
  bottom: 0;
  font-size: 1.3em;
  height: 100%;
  overflow: auto;
  padding-top: 50px;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;

  ul {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
  }
}

.mobile-userlist-trigger {
  background-color: #ddd;
  margin-right: 15px;
  padding: 3px 5px 2px;
  position: fixed;
  right: 0;
  top: 80%;

  span {
    color: #4a97bd;
    font-size: 2em;
    text-align: right;
  }
}

.fileinput-exists {
  float: none;
}

.fileinput-new {
  margin: 0;
}

.blinking {
  animation: blink 1s ease-in-out infinite alternate;
}

@-webkit-keyframes blink{
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-moz-keyframes blink{
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes blink{
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.text-small {
  font-size: 90%;
}
